<div class="skeleton-card">
  <div class="skeleton-card__header">
    <div class="skeleton-card__avatar skeleton-card__line"></div>
    <div class="skeleton-card__title-block">
      <div class="skeleton-card__line skeleton-card__line--title"></div>
      <div class="skeleton-card__line skeleton-card__line--sub"></div>
    </div>
  </div>
  <div class="skeleton-card__line skeleton-card__line--desc"></div>
  <div class="skeleton-card__line skeleton-card__line--desc skeleton-card__line--short"></div>
  <div class="skeleton-card__meta">
    <div class="skeleton-card__line skeleton-card__line--badge"></div>
    <div class="skeleton-card__line skeleton-card__line--small"></div>
  </div>
</div>
