@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.search-bar__input {
  width: 100%;
  height: 40px;
  padding: 0 $space-3;
  font-size: $text-sm;
  color: $color-text-primary;
  background-color: $color-bg-tertiary;
  border: 1px solid $color-border;
  border-radius: $radius-md;

  &:focus {
    @include focus-ring;
    border-color: $color-accent;
    outline: none;
  }
}
